@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.h-full-Home {
  height: calc(100vh - 86.23px);
}

.max-w-slide {
  width: calc(100% - 361px);
}

.bgcontainer-constructionProjects {
  position: relative;
  background: url("/bg-alert.png") center no-repeat;
  background-size: cover;
}
.bgcontainer-constructionProjects::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #00000055;
}
.bgcontainer-constructionProjects:hover::after {
  content: none;
}

.heigth-FirstBoxFooter {
  height: calc(100% - 64px);
}

.translate-z-0 {
  transform: translateZ(0px);
}
@layer base {
  .input {
    @apply h-10 pl-2 rounded-lg bg-transparent border border-gray-400 text-gray-200;
  }
}
